mixin course({category, title, duration, price, image} = {})
	.course&attributes(attributes)
		img.course__image(
			src=baseDir + image.src
			srcset=`${baseDir + image.srcset} 2x`
			alt!=title
		)
		.course__body
			.course__category!= category
			h3.course__title!= title
			.course__footer
				.course__duration
					div Гибкие сроки обучения
					div!= duration
				.course__price!= price
		a.course__overlay(href="" title!=title)
			+button().course__button(type="button" data-modal-id="modal-request")
				| Начать обучение
			.course__details
				| Подробнее о&nbsp;программе
